@media all and (max-width: 600px) {
  /*********** Navbar Menu ***********/
  .navbar__content {
    position: relative;
    z-index: 1000;

    .navbar {
      .logo {
        width: 25%;
        img {
          width: 100%;
        }
      }

      // Navbar Links
      .navbar__links {
        display: none;
      }

      // Hamburger menu
      .hamburger-menu {
        display: block;
      }
    }

    // Mobile Menu
    //   .mobile-menu {
    //     // .navbar__link {
    //     // }
    //   }
  }
}
