@media all and (max-width: 768px) {
  #__next {
    overflow-x: hidden;
  }

  /*********** Navbar Menu Style ***********/

  .navbar__content {
    width: 100%;
    position: relative;
    z-index: 1000;

    .navbar {
      .logo {
        width: 20%;
        img {
          width: 100%;
        }
      }

      // Navbar Links
      .navbar__links {
        display: none;
      }

      // Hamburger menu
      .hamburger-menu {
        display: block;
      }
    }

    // Mobile Menu
    .mobile-menu {
      display: flex;
    }
  }

  /*********** Services Page Style ***********/

  .services {
    &__header {
      margin: 4em 0 4em 0;

      p {
        width: 100%;
      }
    }

    &__example {
      margin-bottom: 4em;
    }

    &__description {
      padding: 0;
      p {
        width: 100%;
      }
    }
  }

  /*********** Gallery Page Style ***********/
  #gallery {
    .gallery__container {
      width: 100%;
    }
  }

  /*********** Footer Style ***********/
  .footer {
    &__content {
      padding-left: 0;
      width: 90%;
      margin: 0 auto;
    }
  }
}
