// Add your variables

// colors
$primary-color: #fa001e;
$secondary-color: #080036;

//font-sizes
$lg_heading: 2.375rem;
$lg_paragraph: 0.875rem;
$line_height: 1.75rem;

// font
$primary_font: "Inter";
$secondary_font: "Oswald";

//mixins

// Create placeholder mixin
@mixin placeholder($color, $size: "") {
  &::-webkit-input-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &:-moz-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &::-moz-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &:-ms-input-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
}
