@import 'normalize';
@import 'fonts';
@import 'utilities';
@import 'config';
@import 'buttons';
@import 'animation';

.container {
	width: 100%;
	margin: 0 auto;
}

// Navbar
.nav__container {
	background: white;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.048);
}

.logo {
	width: 20%;
}

.navbar__announcment {
	width: 100%;
	display: flex;
	align-items: center;
	font-family: 'Inter';
	background: rgb(250, 0, 30);
	color: white;
	padding: 18px 25px;
	font-size: 13px;
	font-weight: 500;
	cursor: pointer;
}

.announcment__arrow {
	font-size: 13px;
	font-weight: 700;
	margin-left: 5px;
}

.logo > img {
	width: 40%;
}

.navbar {
	font-family: 'Inter';
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 12vh;
	width: 90%;
	margin: 0 auto;
}

.navbar__links {
	display: flex;
	width: 600px;
	justify-content: space-between;
	align-items: center;
}

.nav__link {
	color: black;
	font-weight: 600;
}

.button__red {
	background: rgb(250, 0, 30);
	color: white;
	padding: 15px 25px;
	font-size: 15px;
}

// Header
.header {
	font-family: $primary_font;
	height: 65vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('/headerBg.png');
}

.header__container {
	text-align: center;
}

.header__container > h1 {
	font-family: $primary_font;
	font-weight: 700;
	color: white;
	font-size: 80px;
	letter-spacing: -1px;
	width: 70%;
	margin: 0 auto;
	letter-spacing: -3px;
}

.header__container > div {
	padding-top: 50px;
}

.header__white__btn {
	background: white;
	padding: 20px 40px;
	color: black;
	font-weight: 600;
	border-radius: 3px;
	margin-right: 20px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	font-size: 15px;
}

.header__red__btn {
	background: rgb(250, 0, 30);
	padding: 20px 40px;
	color: white;
	font-weight: 600;
	border-radius: 3px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	font-size: 15px;
}

//Contact Us
.contact {
	display: flex;
	justify-content: space-evenly;
	padding: 0px 33px;
	width: 90%;
	margin: 0 auto;

	&__hero-section {
		width: 740px;

		h1 {
			color: $secondary-color;
			font-style: normal;
			font-weight: 600;
			font-size: 49px;
			padding: 22% 0 40px 0;
			line-height: 132.19%;
			/* or 65px */
			letter-spacing: -0.025em;
			width: 90%;
		}

		p {
			font-family: Inter;
			font-size: 25px;
			font-style: normal;
			font-weight: 500;
			line-height: 53px;
			letter-spacing: 0em;
			text-align: left;
		}
	}

	&__form-section {
		margin-top: 86px;
		margin-bottom: 10%;
		position: relative;
		width: 822px;
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.048);
	}

	&__form-section-container {
		padding: 0 53px;
	}

	&__form-section-header {
		padding-top: 30px;

		h2 {
			letter-spacing: -1px;
			font-style: normal;
			font-weight: 600;
			font-size: 45px;
			line-height: 211.69%;
		}

		p {
			font-style: normal;
			font-weight: 500;
			font-size: 23px;
			line-height: 184.69%;
			/* or 42px */
			color: #5f5f5f;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		padding-top: 20px;

		input,
		textarea,
		button {
			padding: 20px;
			margin: 8px 0;
			border-radius: 5px;

			@include placeholder(#c7c2c2, 23px);
		}

		input {
			width: 100%;
			height: 103px;
			border: 1px solid #e3e3e3;
		}

		textarea {
			height: 150px;
			border: 1px solid #e3e3e3;
		}

		button {
			background: $primary-color;
			height: 103px;
			color: #ffffff;
			font-size: 34px;
			letter-spacing: 0.025em;
			border: none;
			margin: 35px 0;
		}
	}
}

.faq {
	text-align: center;

	h1 {
		color: $secondary-color;
		font-family: $primary_font;
		font-style: normal;
		font-weight: 600;
		font-size: 68px;
		letter-spacing: -0.025em;
		line-height: 211.69%;
		/* identical to box height, or 144px */
	}

	&__container {
		display: flex;
		width: 1096px;
		margin: 0 auto;
		flex-direction: column;
		justify-content: space-between;
		padding: 100px 0 200px 0;
	}

	&__questions-container {
		margin-bottom: 30px;
	}

	&__questions {
		height: 125px;
		padding: 0 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #ffffff;
		border: 1px solid #c7c7c7;
		box-sizing: border-box;
		border-radius: 5px;

		h1 {
			font-family: $primary_font;
			font-style: normal;
			font-weight: 500;
			font-size: 27px;
			line-height: 211.69%;
			/* or 57px */
			color: $secondary-color;
		}
	}

	&__answers {
		font-family: $primary_font;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		line-height: 211.69%;
		/* or 55px */
		color: #919191;
		padding: 40px;
		background: #ffffff;
		border: 1px solid #c7c7c7;
		box-sizing: border-box;
		border-radius: 5px;

		display: none;
	}
}

//Footer
.footer {
	background: $secondary-color;

	&__content {
		padding-left: 140px;
		padding-bottom: 50px;
		display: grid;
		grid-template-columns: 200px 200px;
		grid-column-gap: 10%;
	}

	&__logo {
		width: 100%;
		height: 135px;

		img {
			width: 80%;
			transform: translateX(-24px);
			position: relative;
			z-index: 0;
		}
	}
	&__link {
		font-weight: 500;
		text-decoration: none;
		letter-spacing: -0.025em;
		color: #ffffff;

		&:hover {
			color: $primary-color;
		}

		&:last-child {
			grid-column: 1/3;
		}
	}
	&__contact-info {
		height: 110px;
		width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		z-index: 1;
	}
	&__extra-links {
		padding-top: 60px;

		h2 {
			font-size: 23px;
			padding-bottom: 50px;
			letter-spacing: -0.025em;
			color: #ffffff;
		}

		div {
			display: grid;
			grid-template-columns: 200px 200px;
			grid-template-rows: 35px 35px 35px 35px;
			grid-column-gap: 2%;
		}
	}

	&__copyright-section {
		color: #ffffff;
		border-top: 1px solid #ffffff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 130px;
	}
	&__icons {
		display: flex;
		justify-content: space-between;
		width: 100px;
	}
}

// styles page
.services {
	display: flex;
	justify-content: center;
	margin-left: 10%;
	margin-top: 5%;
}

.firstp {
	/*display: flex;
 justify-content: center;
  text-align: inherit;
  width: 10%;
  */
	font-size: 15px;
	margin-left: 590px;
	font-size: 15px;
	margin-right: 15px;
	line-height: 1.7rem;

	width: 330%;
	height: 400px;

	text-align: inherit;
}

// ------------- Code --------------

// Responsive Code
@import 'desktopMin';
@import 'tabletMax';
@import 'tabletMin';
@import 'mobileMax';
@import 'mobileMid';
@import 'mobileMin';
@import 'galaxy';
